<div class="all">
    <!-- <span>Pokédex</span> -->
    <div class="pokedex1">
        <div class="cabecalho">
            <div class="ballPrincipal"></div>
            <div class="ballPeqAll">
                <div class="ballPequena red"></div>
                <div class="ballPequena yellow"></div>
                <div class="ballPequena green"></div>
            </div>
        </div>
        <div class="corpo">
            <div class="quadradoPrincipal">
                <div class="quadradoImagemAll">
                    <div class="quadradoImagemOnly">
                        <img class="imgPokemon"
                            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                            alt="pokemon" width="80%" height="90%">
                        <div class="rotapeImg">
                            <div class="ballRed"></div>
                            <label class="namePokemon">Bulbasaur</label>
                            <div class="stripe">
                                <i class="bi bi-card-text"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rotape">
            <div class="duasDiv">
                <div class="divYellow"></div>
                <div class="divBlue"></div>
            </div>
            <div class="pesquisa">
                <div class="buttonPsq">
                    <label>Pesq.</label>
                </div>
                <div class="inputPsq">
                    <input type="text" name="" id="" placeholder="id ou nome do pokémon" />
                </div>
            </div>
        </div>
    </div>
    <div class="pokedexDivisao"></div>
    <div class="pokedex2">
        <div class="moves"></div>
        <div class="abilities">
            <div class="black1"></div>
            <div class="black2"></div>
        </div>
        <div class="eggGroup">
            <div class="eggQuadrado"></div>
            <div class="eggCirculo"></div>
        </div>
        <div class="types"></div>
    </div>
</div>